[submodule "ros2_ws/src/create3_sim"]
	path = ros2_ws/src/create3_sim
	url = https://github.com/Bmoradi93/create3_sim.git
[submodule "ros2_ws/src/irobot_create_msgs"]
	path = ros2_ws/src/irobot_create_msgs
	url = https://github.com/Bmoradi93/irobot_create_msgs.git
[submodule "ros2_ws/src/turtlebot4_robot"]
	path = ros2_ws/src/turtlebot4_robot
	url = https://github.com/Bmoradi93/turtlebot4_robot.git
[submodule "ros2_ws/src/turtlebot4_simulator"]
	path = ros2_ws/src/turtlebot4_simulator
	url = https://github.com/turtlebot/turtlebot4_simulator.git
[submodule "ros2_ws/src/urg_node2"]
	path = ros2_ws/src/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2.git
